name: CI

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  packages: write

# Automatically cancel in-progress actions on the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request_target' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  install_build_release:
    name: Build & Release Packages
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [20]
        pnpm_version: [9.4.0]
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4
        with:
          version: ${{matrix.pnpm_version}}
      - name: Use Node.js ${{matrix.node_version}}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Generate build
        run: pnpm build
      - uses: changesets/action@v1
        if: ${{ github.event_name != 'pull_request' }}
        with:
          version: pnpm ci:version
          publish: pnpm ci:publish
          commit: "[ci] release"
          title: "[ci] release"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
